 <!-- About Section -->
    <section class="success" id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Acerca de</h2>
                    <hr class="icon-sugarfree">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4 col-lg-offset-2">
                    <p>La homeopat&#x00ED;a es una pseudoterapia ineficaz, peligrosa y sin base cient&#x00ED;fica. A pesar de ello algunos m&#x00E9;dicos y farmac&#x00E9;uticos siguen recomend&#x00E1;ndola movidos por la ignorancia o por intereses econ&#x00F3;micos. Afortunadamente, a pesar de que la homeopat&#x00ED;a est&#x00E1; presente en la mayor&#x00ED;a de boticas, gran parte de ellas no la recomiendan activamente. </p>
                    <p>Desde diversas asociaciones llevamos a&#x00F1;os luchando contra este fraude y advirtiendo a los pacientes de los riesgos de la homeopat&#x00ED;a y de otras pseudoterapias. Una v&#x00ED;a m&#x00E1;s para luchar contra este enga&#x00F1;o tan extendido es hacer que a las farmacias que venden homeopat&#x00ED;a no les salga tan rentable.</p>
                </div>
                <div class="col-lg-4">
                    <p>Proponemos a los usuarios concienciados que escojan farmacias que prioricen la ciencia, la &#x00E9;tica profesional y el bienestar del paciente frente al beneficio econ&#x00F3;mico. Para ello ponemos a disposici&#x00F3;n de los usuarios de farmacia esta herramienta que les permitir&#x00E1; localizar su "farmacia sin homeopat&#x00ED;a" m&#x00E1;s cercana.</p>
                    <p><b>Impulsa esta iniciativa inscribiendo m&#x00E1;s farmacias que no publicitan ni exponen homeopat&#x00ED;a o avisando de fallos en el registro actual.</b></p>
                </div>
                
                <div class="col-lg-8 col-lg-offset-2 text-center">
                    <a href="#contribute" class="btn btn-lg btn-outline">
                        <i class="fa fa-fw fa-medkit"></i> Contribuye
                    </a>
                </div>
            </div>
        </div>
    </section>