
    <section id="contribute">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Contribuir</h2>
                    <hr class="icon-sugarfree-dark">
                </div>
            </div>
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2">
                    <p>Entra en una farmacia y si no tienen homeopat&iacute;a en las estanter&iacute;as, env&iacute;anos su direcci&oacute;n.</p>
                </div>
            </div>
            <div class="row">
               <div class="col-lg-8 col-lg-offset-2">
                    <form  action="//formspree.io/hi@sugarfree.io" method="POST" name="sentMessage" id="contributeForm" novalidate>
                        <div class="row control-group">
                            <div class="form-group col-xs-12 floating-label-form-group controls">
                                <label>Direcci&#x00F3;n de la farmacia</label>
                                <input type="text" name="address" class="form-control" placeholder="Direcci&#x00F3;n de la farmacia" id="address-contribute" required data-validation-required-message="Por favor, escribe la direcci&#x00F3;n de la farmacia.">
                                <p class="help-block text-danger"></p>
                            </div>
                        </div>
                        <br>
                        <div>
                            <input type="hidden"  name="_subject" value="sugarfree contribution">
                            <input type="hidden" name="_next" value="{{ page.url | replace:'index.html','' | prepend: site.url }}" />
                            <input type="text" name="_gotcha" style="display:none" />
                        </div>
                        <br>
                        <div id="success"></div>
                        <div class="row">
                            <div class="form-group col-xs-12">
                                <button type="submit" class="btn btn-success btn-lg">Enviar</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </section>