
    <section class="success" id="ranking">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2>Ranking</h2>
                    <hr class="icon-sugarfree">
                </div>
            </div>
            <div class="row">
                <div class="[ col-xs-12 col-sm-offset-2 col-sm-8 ]">
                    <ul class="event-list">
                    
                        <li onclick='window.open("https://twitter.com/roi_cal")'>
                            <time>
                                <span class="count">#13</span>
                            </time>
                            <img alt="@roi_cal" src="https://pbs.twimg.com/profile_images/719882950704263168/K3k15SGb.jpg" />
                            <div class="info">
                                <h3 class="description">@roi_cal</h3>
                            </div>
                        </li>
                        <li onclick='window.open("https://twitter.com/_alexfdz")'>
                            <time>
                                <span class="count">#9</span>
                            </time>
                            <img alt="@_alexfdz" src="https://pbs.twimg.com/profile_images/2922719449/4b73f1ca33a3f41e9c66f1cab5548a7b.jpeg" />
                            <div class="info">
                                <h3 class="description">@_alexfdz</h3>
                            </div>
                        </li>
                        
                        <li onclick='window.open("https://twitter.com/noa_rey")'>
                            <time>
                                <span class="count">#1</span>
                            </time>
                            <img alt="@noa_rey" src="https://pbs.twimg.com/profile_images/3362767319/d92e65dd055e6d502baeb9f35b42b6c2.jpeg" />
                            <div class="info">
                                <h3 class="description">@noa_rey</h3>
                            </div>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </section>